<a href="https://colab.research.google.com/github/aricahyasaputra/data-sains-course-assigment-/blob/main/Week%203/Tugas_3_Data_Sains.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Menelaah data

Data yang saya gunakan saya unduh dari kaggle dengan alamat [ini](https://www.kaggle.com/pratimanjoshi/euw-challanger-gamestats).

In [ ]:
#import terlebih dahulu library yang dibutuhkan
import pandas as pd
import numpy as np

In [ ]:
dataset = "https://raw.githubusercontent.com/aricahyasaputra/data-sains-course-assigment-/main/Week%203/euw_challanger.csv"
df = pd.read_csv(dataset)

In [ ]:
df.head(10)

,Unnamed: 0,Unnamed: 0.1,kills,deaths,assists,killParticipation,kda,goldPerMinute,totalMinionsKilled,gold,totalDamageDealt,visionScore,visionScorePerMinute,skillshotsDodged,skillshotsHit,win
0,0,0,11.0,5.0,7.0,3.600000,3.600000,509.580253,243.0,14950.0,225213.0,51.0,1.558169,31.0,25.0,True
1,1,1,21.0,11.0,13.0,3.090909,3.090909,461.392738,264.0,20375.0,341115.0,76.0,1.427324,268.0,54.0,True
2,2,2,9.0,7.0,8.0,2.428571,2.428571,394.271504,140.0,9325.0,95379.0,38.0,1.438050,14.0,18.0,True
3,3,3,11.0,2.0,2.0,6.500000,6.500000,513.628158,187.0,12275.0,147991.0,28.0,1.156925,8.0,1.0,False
4,4,4,9.0,3.0,4.0,4.333333,4.333333,559.206714,337.0,17950.0,355498.0,74.0,2.098381,7.0,8.0,True
5,5,5,8.0,8.0,3.0,1.375000,1.375000,413.748169,211.0,11950.0,149661.0,47.0,1.614476,7.0,3.0,False
6,6,6,3.0,8.0,3.0,0.750000,0.750000,348.295105,201.0,10850.0,140198.0,29.0,0.927520,48.0,46.0,False
7,7,7,2.0,4.0,4.0,1.500000,1.500000,425.994759,233.0,9975.0,166816.0,36.0,1.340082,9.0,14.0,True
8,8,8,8.0,2.0,9.0,8.500000,8.500000,476.120919,241.0,13200.0,204628.0,39.0,1.316739,6.0,6.0,True
9,9,9,12.0,4.0,6.0,4.500000,4.500000,541.163398,167.0,10025.0,118336.0,27.0,1.182769,84.0,76.0,True

In [ ]:
df.tail(10)

,Unnamed: 0,Unnamed: 0.1,kills,deaths,assists,killParticipation,kda,goldPerMinute,totalMinionsKilled,gold,totalDamageDealt,visionScore,visionScorePerMinute,skillshotsDodged,skillshotsHit,win
5614,5692,5692,3.0,4.0,1.0,1.000000,1.000000,409.270550,258.0,12260.0,158339.0,37.0,1.269931,91.0,92.0,False
5615,5693,5693,11.0,7.0,6.0,2.428571,2.428571,549.320566,173.0,13050.0,123932.0,28.0,1.173876,30.0,24.0,False
5616,5694,5694,4.0,11.0,8.0,1.090909,1.090909,372.593897,182.0,10600.0,98355.0,33.0,1.188100,253.0,60.0,False
5617,5695,5695,8.0,4.0,1.0,2.250000,2.250000,614.430831,274.0,13050.0,213496.0,13.0,0.540170,137.0,29.0,False
5618,5696,5696,7.0,12.0,4.0,0.916667,0.916667,426.296335,205.0,11925.0,164360.0,21.0,0.698952,333.0,49.0,False
5619,5697,5697,3.0,3.0,5.0,2.666667,2.666667,382.506309,186.0,8575.0,87743.0,20.0,0.871596,439.0,33.0,False
5620,5698,5698,7.0,3.0,3.0,3.333333,3.333333,464.027231,250.0,13375.0,163391.0,29.0,1.023907,64.0,116.0,False
5621,5699,5699,11.0,5.0,10.0,4.200000,4.200000,479.758054,63.0,16550.0,220562.0,31.0,0.859700,64.0,72.0,False
5622,5700,5700,6.0,3.0,9.0,5.000000,5.000000,422.451712,46.0,12550.0,179791.0,36.0,1.184643,99.0,101.0,False
5623,5701,5701,12.0,0.0,1.0,13.000000,13.000000,620.621693,282.0,14625.0,214294.0,36.0,1.361971,40.0,26.0,True

In [ ]:
print(df.dtypes)

Unnamed: 0                int64
Unnamed: 0.1              int64
kills                   float64
deaths                  float64
assists                 float64
killParticipation       float64
kda                     float64
goldPerMinute           float64
totalMinionsKilled      float64
gold                    float64
totalDamageDealt        float64
visionScore             float64
visionScorePerMinute    float64
skillshotsDodged        float64
skillshotsHit           float64
win                        bool
dtype: object

Disini saya mencoba untuk menghapus unnamed karena tidak memerlukan datanya

In [ ]:
df_noid = df.iloc[:,2:]
df_noid

,kills,deaths,assists,killParticipation,kda,goldPerMinute,totalMinionsKilled,gold,totalDamageDealt,visionScore,visionScorePerMinute,skillshotsDodged,skillshotsHit,win
0,11.0,5.0,7.0,3.600000,3.600000,509.580253,243.0,14950.0,225213.0,51.0,1.558169,31.0,25.0,True
1,21.0,11.0,13.0,3.090909,3.090909,461.392738,264.0,20375.0,341115.0,76.0,1.427324,268.0,54.0,True
2,9.0,7.0,8.0,2.428571,2.428571,394.271504,140.0,9325.0,95379.0,38.0,1.438050,14.0,18.0,True
3,11.0,2.0,2.0,6.500000,6.500000,513.628158,187.0,12275.0,147991.0,28.0,1.156925,8.0,1.0,False
4,9.0,3.0,4.0,4.333333,4.333333,559.206714,337.0,17950.0,355498.0,74.0,2.098381,7.0,8.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5619,3.0,3.0,5.0,2.666667,2.666667,382.506309,186.0,8575.0,87743.0,20.0,0.871596,439.0,33.0,False
5620,7.0,3.0,3.0,3.333333,3.333333,464.027231,250.0,13375.0,163391.0,29.0,1.023907,64.0,116.0,False
5621,11.0,5.0,10.0,4.200000,4.200000,479.758054,63.0,16550.0,220562.0,31.0,0.859700,64.0,72.0,False
5622,6.0,3.0,9.0,5.000000,5.000000,422.451712,46.0,12550.0,179791.0,36.0,1.184643,99.0,101.0,False
5623,12.0,0.0,1.0,13.000000,13.000000,620.621693,282.0,14625.0,214294.0,36.0,1.361971,40.0,26.0,True

In [ ]:
df_noid.describe()

,kills,deaths,assists,killParticipation,kda,goldPerMinute,totalMinionsKilled,gold,totalDamageDealt,visionScore,visionScorePerMinute,skillshotsDodged,skillshotsHit
count,5624.00000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000
mean,6.11362,5.315434,8.372155,4.012126,4.012126,437.587685,117.033073,10025.545875,115077.407183,27.325925,1.032778,76.239687,38.705548
std,4.98096,3.280757,6.386453,4.243153,4.243153,135.162035,84.008546,3837.303314,72168.650081,21.890540,0.710580,84.844001,34.027895
min,0.00000,0.000000,0.000000,0.000000,0.000000,153.672785,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.00000,3.000000,4.000000,1.454545,1.454545,347.923972,32.000000,7550.000000,59662.500000,14.000000,0.606374,28.000000,19.000000
50%,5.00000,5.000000,7.000000,2.666667,2.666667,420.219786,127.000000,9775.000000,112121.000000,22.000000,0.890876,49.000000,30.000000
75%,9.00000,7.000000,11.000000,4.804545,4.804545,497.239415,187.000000,12450.000000,161738.750000,34.000000,1.233613,88.000000,47.000000
max,44.00000,22.000000,48.000000,41.000000,41.000000,2114.868366,424.000000,37650.000000,505341.000000,225.000000,4.996686,881.000000,409.000000

In [ ]:
df_noid.describe(exclude="object")

,kills,deaths,assists,killParticipation,kda,goldPerMinute,totalMinionsKilled,gold,totalDamageDealt,visionScore,visionScorePerMinute,skillshotsDodged,skillshotsHit,win
count,5624.00000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3040
mean,6.11362,5.315434,8.372155,4.012126,4.012126,437.587685,117.033073,10025.545875,115077.407183,27.325925,1.032778,76.239687,38.705548,NaN
std,4.98096,3.280757,6.386453,4.243153,4.243153,135.162035,84.008546,3837.303314,72168.650081,21.890540,0.710580,84.844001,34.027895,NaN
min,0.00000,0.000000,0.000000,0.000000,0.000000,153.672785,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,2.00000,3.000000,4.000000,1.454545,1.454545,347.923972,32.000000,7550.000000,59662.500000,14.000000,0.606374,28.000000,19.000000,NaN
50%,5.00000,5.000000,7.000000,2.666667,2.666667,420.219786,127.000000,9775.000000,112121.000000,22.000000,0.890876,49.000000,30.000000,NaN
75%,9.00000,7.000000,11.000000,4.804545,4.804545,497.239415,187.000000,12450.000000,161738.750000,34.000000,1.233613,88.000000,47.000000,NaN
max,44.00000,22.000000,48.000000,41.000000,41.000000,2114.868366,424.000000,37650.000000,505341.000000,225.000000,4.996686,881.000000,409.000000,NaN

In [ ]:
df_noid.mean()

kills                        6.113620
deaths                       5.315434
assists                      8.372155
killParticipation            4.012126
kda                          4.012126
goldPerMinute              437.587685
totalMinionsKilled         117.033073
gold                     10025.545875
totalDamageDealt        115077.407183
visionScore                 27.325925
visionScorePerMinute         1.032778
skillshotsDodged            76.239687
skillshotsHit               38.705548
win                          0.540541
dtype: float64

In [ ]:
df_noid.sum()

kills                   3.438300e+04
deaths                  2.989400e+04
assists                 4.708500e+04
killParticipation       2.256420e+04
kda                     2.256420e+04
goldPerMinute           2.460993e+06
totalMinionsKilled      6.581940e+05
gold                    5.638367e+07
totalDamageDealt        6.471953e+08
visionScore             1.536810e+05
visionScorePerMinute    5.808346e+03
skillshotsDodged        4.287720e+05
skillshotsHit           2.176800e+05
win                     3.040000e+03
dtype: float64

In [ ]:
df_noid.median()

kills                        5.000000
deaths                       5.000000
assists                      7.000000
killParticipation            2.666667
kda                          2.666667
goldPerMinute              420.219786
totalMinionsKilled         127.000000
gold                      9775.000000
totalDamageDealt        112121.000000
visionScore                 22.000000
visionScorePerMinute         0.890876
skillshotsDodged            49.000000
skillshotsHit               30.000000
win                          1.000000
dtype: float64

In [ ]:
df_noid.var()

kills                   2.480996e+01
deaths                  1.076337e+01
assists                 4.078678e+01
killParticipation       1.800435e+01
kda                     1.800435e+01
goldPerMinute           1.826878e+04
totalMinionsKilled      7.057436e+03
gold                    1.472490e+07
totalDamageDealt        5.208314e+09
visionScore             4.791957e+02
visionScorePerMinute    5.049234e-01
skillshotsDodged        7.198505e+03
skillshotsHit           1.157898e+03
win                     2.484006e-01
dtype: float64

In [ ]:
df_noid.std()

kills                       4.980960
deaths                      3.280757
assists                     6.386453
killParticipation           4.243153
kda                         4.243153
goldPerMinute             135.162035
totalMinionsKilled         84.008546
gold                     3837.303314
totalDamageDealt        72168.650081
visionScore                21.890540
visionScorePerMinute        0.710580
skillshotsDodged           84.844001
skillshotsHit              34.027895
win                         0.498398
dtype: float64

Karena quantile tidak dapat menghitung tipe data boolean maka saya harus drop terlebih dahulu kolom yang memiliki tipe data boolean

In [ ]:
df_noid.drop(df.columns[15], axis=1, inplace=True)

In [ ]:
df_noid.head(10)

,kills,deaths,assists,killParticipation,kda,goldPerMinute,totalMinionsKilled,gold,totalDamageDealt,visionScore,visionScorePerMinute,skillshotsDodged,skillshotsHit
0,11.0,5.0,7.0,3.600000,3.600000,509.580253,243.0,14950.0,225213.0,51.0,1.558169,31.0,25.0
1,21.0,11.0,13.0,3.090909,3.090909,461.392738,264.0,20375.0,341115.0,76.0,1.427324,268.0,54.0
2,9.0,7.0,8.0,2.428571,2.428571,394.271504,140.0,9325.0,95379.0,38.0,1.438050,14.0,18.0
3,11.0,2.0,2.0,6.500000,6.500000,513.628158,187.0,12275.0,147991.0,28.0,1.156925,8.0,1.0
4,9.0,3.0,4.0,4.333333,4.333333,559.206714,337.0,17950.0,355498.0,74.0,2.098381,7.0,8.0
5,8.0,8.0,3.0,1.375000,1.375000,413.748169,211.0,11950.0,149661.0,47.0,1.614476,7.0,3.0
6,3.0,8.0,3.0,0.750000,0.750000,348.295105,201.0,10850.0,140198.0,29.0,0.927520,48.0,46.0
7,2.0,4.0,4.0,1.500000,1.500000,425.994759,233.0,9975.0,166816.0,36.0,1.340082,9.0,14.0
8,8.0,2.0,9.0,8.500000,8.500000,476.120919,241.0,13200.0,204628.0,39.0,1.316739,6.0,6.0
9,12.0,4.0,6.0,4.500000,4.500000,541.163398,167.0,10025.0,118336.0,27.0,1.182769,84.0,76.0

In [ ]:
df_noid.quantile(0.75)

kills                        9.000000
deaths                       7.000000
assists                     11.000000
killParticipation            4.804545
kda                          4.804545
goldPerMinute              497.239415
totalMinionsKilled         187.000000
gold                     12450.000000
totalDamageDealt        161738.750000
visionScore                 34.000000
visionScorePerMinute         1.233613
skillshotsDodged            88.000000
skillshotsHit               47.000000
Name: 0.75, dtype: float64

#Mencari Pencilan menggunakan metode Turkey Fences

In [ ]:
q1 = df_noid.quantile(0.25)
q3 = df_noid.quantile(0.75)
iqr = q3 - q1
iqr

kills                        7.000000
deaths                       4.000000
assists                      7.000000
killParticipation            3.350000
kda                          3.350000
goldPerMinute              149.315443
totalMinionsKilled         155.000000
gold                      4900.000000
totalDamageDealt        102076.250000
visionScore                 20.000000
visionScorePerMinute         0.627239
skillshotsDodged            60.000000
skillshotsHit               28.000000
dtype: float64

In [ ]:
import warnings
warnings.filterwarnings('ignore')

df_noid_align, iqr_new = df_noid.align(iqr, axis=1, copy=False, join='outer')
outlier_filter = (df_noid < q1 - 1.5 * iqr_new) | (df_noid > q3 + 1.5 * iqr_new)
outlier_filter

,kills,deaths,assists,killParticipation,kda,goldPerMinute,totalMinionsKilled,gold,totalDamageDealt,visionScore,visionScorePerMinute,skillshotsDodged,skillshotsHit
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,True,True,True,False,True,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5619,False,False,False,False,False,False,False,False,False,False,False,True,False
5620,False,False,False,False,False,False,False,False,False,False,False,False,True
5621,False,False,False,False,False,False,False,False,False,False,False,False,False
5622,False,False,False,False,False,False,False,False,False,False,False,False,True
5623,False,False,False,True,True,False,False,False,False,False,False,False,False

Karena tidak terdapat data nama maka saya bandingkan berdasarkan kills dan gold

In [ ]:
df_noid [outlier_filter['kills']]\
  .loc[:, ['kills', 'gold']]\
  .sort_values(by=['kills'], ascending=False)

      kills     gold
4602   44.0  32660.0
3622   38.0  21800.0
3433   38.0  23365.0
2056   36.0  16800.0
2047   36.0  31800.0
...     ...      ...
3313   20.0  18875.0
3385   20.0  17550.0
3546   20.0  22800.0
3607   20.0  16625.0
5606   20.0  17383.0

[112 rows x 2 columns]

#Values Count

Karena tidak terdapat data nama maka saya hitung berdasarkan kills dan gold

In [ ]:
df_noid[['kills', 'gold']].value_counts()

kills  gold
0.0    500.0      45
1.0    1400.0     22
       500.0      21
3.0    7750.0      8
2.0    7700.0      7
                  ..
5.0    8810.0      1
       8910.0      1
       8925.0      1
       9000.0      1
44.0   32660.0     1
Length: 3819, dtype: int64

#Groupby

Karena tidak terdapat data nama maka saya grouping berdasarkan kills dan gold

In [ ]:
df.groupby('kills')['gold'].std()

kills
0.0      2659.663478
1.0      2695.916842
2.0      2057.422798
3.0      2183.786770
4.0      2241.586655
5.0      2351.230070
6.0      2435.698403
7.0      2527.522585
8.0      2363.010349
9.0      2279.104293
10.0     2517.094129
11.0     2879.703368
12.0     2729.183357
13.0     2395.405070
14.0     2841.551677
15.0     2820.300107
16.0     2831.363015
17.0     3024.601074
18.0     2766.666805
19.0     2393.337116
20.0     2452.393105
21.0     3606.498554
22.0     3020.714911
23.0     3312.643393
24.0     1961.041171
25.0     2912.706645
26.0     5540.673259
27.0     2919.612458
28.0     4789.435910
29.0     3221.670116
30.0     5673.908118
31.0     1393.000359
32.0             NaN
33.0             NaN
36.0    10754.417697
38.0     1106.622113
44.0             NaN
Name: gold, dtype: float64

In [ ]:
df.groupby('kills')['gold'].mean()

kills
0.0      4861.637602
1.0      6014.565966
2.0      7724.033748
3.0      8431.272884
4.0      9317.550495
5.0      9938.905738
6.0     10718.605991
7.0     11170.532808
8.0     11717.959627
9.0     12196.606498
10.0    12693.755725
11.0    12917.450237
12.0    13393.090323
13.0    13478.795276
14.0    13959.280488
15.0    14741.388889
16.0    15234.236111
17.0    15394.421053
18.0    15606.720000
19.0    14951.137931
20.0    17507.125000
21.0    16557.727273
22.0    16241.000000
23.0    18111.875000
24.0    15936.142857
25.0    19805.000000
26.0    19244.833333
27.0    18410.714286
28.0    18694.333333
29.0    19393.333333
30.0    18615.000000
31.0    21305.000000
32.0    21760.000000
33.0    30120.000000
36.0    28750.000000
38.0    22582.500000
44.0    32660.000000
Name: gold, dtype: float64

#Korelasi Pearson antar kolom

In [ ]:
df_noid.loc[:, 'kills' :].corr()

,kills,deaths,assists,killParticipation,kda,goldPerMinute,totalMinionsKilled,gold,totalDamageDealt,visionScore,visionScorePerMinute,skillshotsDodged,skillshotsHit
kills,1.000000,0.151702,0.184709,0.320951,0.320951,0.679304,0.202982,0.738737,0.505188,-0.110977,-0.193661,0.134417,0.148439
deaths,0.151702,1.000000,0.263436,-0.519844,-0.519844,-0.005622,0.029406,0.340197,0.097728,0.078656,-0.044890,0.251308,0.241943
assists,0.184709,0.263436,1.000000,0.276761,0.276761,0.150523,-0.232479,0.299456,-0.036015,0.324169,0.246827,0.208446,0.193790
killParticipation,0.320951,-0.519844,0.276761,1.000000,1.000000,0.269458,-0.025189,0.161403,0.122563,0.048845,0.095130,-0.029386,-0.015613
kda,0.320951,-0.519844,0.276761,1.000000,1.000000,0.269458,-0.025189,0.161403,0.122563,0.048845,0.095130,-0.029386,-0.015613
goldPerMinute,0.679304,-0.005622,0.150523,0.269458,0.269458,1.000000,0.176486,0.468107,0.328513,-0.377065,-0.433485,0.051491,0.014293
totalMinionsKilled,0.202982,0.029406,-0.232479,-0.025189,-0.025189,0.176486,1.000000,0.497048,0.609933,-0.173886,-0.271378,0.059750,0.066727
gold,0.738737,0.340197,0.299456,0.161403,0.161403,0.468107,0.497048,1.000000,0.785600,0.088521,-0.084876,0.223944,0.256840
totalDamageDealt,0.505188,0.097728,-0.036015,0.122563,0.122563,0.328513,0.609933,0.785600,1.000000,-0.096151,-0.239738,0.105617,0.148499
visionScore,-0.110977,0.078656,0.324169,0.048845,0.048845,-0.377065,-0.173886,0.088521,-0.096151,1.000000,0.946448,0.081095,0.140912
visionScorePerMinute,-0.193661,-0.044890,0.246827,0.095130,0.095130,-0.433485,-0.271378,-0.084876,-0.239738,0.946448,1.000000,0.020473,0.077119
skillshotsDodged,0.134417,0.251308,0.208446,-0.029386,-0.029386,0.051491,0.059750,0.223944,0.105617,0.081095,0.020473,1.000000,0.578384
skillshotsHit,0.148439,0.241943,0.193790,-0.015613,-0.015613,0.014293,0.066727,0.256840,0.148499,0.140912,0.077119,0.578384,1.000000